<a href="https://colab.research.google.com/github/ozgenurunlu/Patika.dev-Assignments/blob/main/TitanikVeriSetiCalismaSorulari.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
files.upload()

In [2]:
!pip install -q kaggle

# Kaggle API yapılandırması
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [3]:
!kaggle competitions download -c titanic
import zipfile

with zipfile.ZipFile("titanic.zip", 'r') as zip_ref:
    zip_ref.extractall("titanic_data")

Downloading titanic.zip to /content
  0% 0.00/34.1k [00:00<?, ?B/s]
100% 34.1k/34.1k [00:00<00:00, 102MB/s]

In [4]:
import pandas as pd

train_df = pd.read_csv("titanic_data/train.csv")
train_df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [5]:
train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
train_df.shape

(891, 12)

In [6]:
train_df_copy=train_df.copy()

#1.Kazada ölenlerin yaş ortalamasını bulunuz



*   Kayıp veriler çıkartılarak bulunan yaş ortalaması

In [ ]:
dead_passengers=(train_df['Survived']==0 & train_df['Age'].notnull())

#train_df[dead_passengers].Age.mean()
average_age_of_dead=train_df[dead_passengers]['Age'].mean()

print(f"Kazada ölen yolcuların yaş ortalaması: {average_age_of_dead:.2f}")

Kazada ölen yolcuların yaş ortalaması: 30.63



*   Kayıp verileri cinsiyet ve sınıfa göre medyan yaş ile doldurularak bulunan yaş ortalaması

In [ ]:

median_ages = train_df.groupby(['Pclass', 'Sex'])['Age'].median()

# Fonksiyon: eksik yaşları uygun grup ortalaması ile doldur
def fill_age(row):
    if pd.isnull(row['Age']):
        return median_ages[(row['Pclass'], row['Sex'])]
    else:
        return row['Age']

train_df['Age'] = train_df.apply(fill_age, axis=1)

dead_passengers=train_df['Survived']==0
average_age_of_dead=train_df[dead_passengers]['Age'].mean()
print(f"Kazada ölenlerin yaş ortalaması: {average_age_of_dead:.2f}")

Kazada ölenlerin yaş ortalaması: 29.74

#2.Kazada ölenlerin bilet fiyatlarının ortalamasını ve medyanını bulunuz

In [ ]:
dead_passengers=train_df['Survived']==0
average_fare_of_dead=train_df[dead_passengers].Fare.mean()
print(f"Kazada ölen yolcuların bilet fiyatlarının ortalaması:{average_fare_of_dead:.2f}")

Kazada ölen yolcuların bilet fiyatlarının ortalaması:22.12

In [ ]:
dead_passengers=train_df['Survived']==0
average_fare_of_dead=train_df[dead_passengers].Fare.median()
print(f"Kazada ölen yolcuların bilet fiyatlarının medyanı:{average_fare_of_dead:.2f}")

Kazada ölen yolcuların bilet fiyatlarının medyanı:10.50

# 3.Kazada ölen erkeklerin yaş ortalamasını bulunuz

* Kayıp veriler medyanla doldurularak bulunan sonuç

In [ ]:
mask=(train_df['Survived']==0) & (train_df['Sex']=='male')
male_dead=train_df[mask].Age.mean()
print(f"Kazada ölen erkeklerin yaş ortalaması:{male_dead:.2f}")

Kazada ölen erkeklerin yaş ortalaması:30.68

* Kayıp veriler çıkartılarak bulunan yaş ortalaması

In [30]:
dead_male_passengers=((train_df_copy['Survived']==0) & (train_df_copy['Age'].notnull()) & (train_df_copy['Sex']=='male'))

average_age_of_male_dead=train_df_copy[dead_male_passengers]['Age'].mean()

print(f"Kazada ölen erkeklerin yaş ortalaması: {average_age_of_male_dead:.2f}")

Kazada ölen erkeklerin yaş ortalaması: 31.62

#4.Kazada ölen Kadınların yaş ortalamasını bulunuz

* Kayıp veriler doldurularak bulunan sonuç

In [33]:
mask=(train_df['Survived']==0) & (train_df['Sex']=='female')
dead_female=train_df[mask].Age.mean()
print(f"Kazada ölen kadınların yaş ortalaması:{dead_female:.2f}")

Kazada ölen kadınların yaş ortalaması:25.05

* Eksik veri ile bulunan sonuç

In [34]:
dead_female_passengers=((train_df_copy['Survived']==0) & (train_df_copy['Age'].notnull()) & (train_df_copy['Sex']=='female'))
average_age_of_female_dead=train_df_copy[dead_female_passengers]['Age'].mean()

print(f"Kazada ölen kadınların yaş ortalaması: {average_age_of_female_dead:.2f}")

Kazada ölen kadınların yaş ortalaması: 25.05

In [ ]:
#Kayıp veriler medyanla doldurulduğundan;doldurulan medyan eksik verinin ortalamasına(mean) eşit olduğundan değer değişmedi

#5.Kazadan kurtulanların yaş ortalamasını bulunuz

In [43]:
survivors=train_df_copy['Survived']==1
average_age_of_survivors=train_df_copy[survivors]['Age'].mean()
print(f"Kazadan kurtulanların yaş ortalaması: {average_age_of_survivors:.2f}")

Kazadan kurtulanların yaş ortalaması: 28.34

# 6.Kazadan kurtulanların bilet fiyatlarının ortalamasını bulunuz

In [ ]:
survivors=train_df['Survived']==1
average_fare_of_survivors=train_df[survivors].Fare.mean()
print(f"Kazadan kurtulan yolcuların bilet fiyatlarının ortalaması:{average_fare_of_survivors:.2f}")

Kazadan kurtulan yolcuların bilet fiyatlarının ortalaması:48.40

# 7.Kazadan kurtulan toplam kişi sayısını bulunuz

In [ ]:
survivors=(train_df['Survived']==1).sum()
print(f"Kazadan kurtulan yolcuların sayısı: {survivors}")

Kazadan kurtulan yolcuların sayısı: 342

In [ ]:
#len(train_df[(train_df.Survived==1)])

342

# 8. 10 yaşından küçüklerin bilet fiyatlarının medyan değerini bulunuz

In [ ]:
mask=train_df[(train_df.Age<10)].Fare.mean()
print(f"10 yaşından küçüklerin bilet fiyatı ortalamsı: {mask:.2f}")

10 yaşından küçüklerin bilet fiyatı ortalamsı: 30.58

# 9.1.sınıf, 2.sınıf ve 3.sınıf bilet fiyatlarının ortalama ve medyanlarını karşılaştırınız. (Pclass değişkeni sınıfları barındırmaktadır.)

In [ ]:
Pclass_mean=[]
for i in range(1,4):
  Pclass_mean.append(train_df[train_df['Pclass']==i].Fare.mean())

for i, fare in enumerate(Pclass_mean, start=1):
    print(f"\nPclass {i} ortalamaları:")
    print(f"{fare:.2f}")

Pclass 1 ortalamaları:
84.15

Pclass 2 ortalamaları:
20.66

Pclass 3 ortalamaları:
13.68

In [44]:
Pclass_median=[]
for i in range(1,4):
  Pclass_median.append(train_df[train_df['Pclass']==i].Fare.median())

for i, fare in enumerate(Pclass_median, start=1):
    print(f"\nPclass {i} medyanları:")
    print(f"{fare:.2f}")

Pclass 1 medyanları:
60.29

Pclass 2 medyanları:
14.25

Pclass 3 medyanları:
8.05

# 10. Kazada ölen kadınların oranı ile erkeklerin oranını karşılaştırınız.

In [72]:

df1=train_df[train_df['Survived']==0].Sex.value_counts()
df2=train_df.Sex.value_counts()
ratio=df1/df2
ratio.rename('ratio')

Sex
male      0.811092
female    0.257962
Name: ratio, dtype: float64